{%extends 'base.html' %}


{%block content%}
{%load static%}
     <div>
          {% if error %}
            <div class="row justify-content-center mt-3 ">
                <div class="col-md-5 alert alert-danger text-center"  style="font-size:25px">
                    {{error}}
                </div>
            </div>
         {% endif %}

      <div class="row justify-content-center mt-4 ">
        <div class="col-md-5 alert alert-primary" >
       <form  method="POST" action="{%url 'login'%}">
              {%csrf_token%}

        <h1 style="color: rgb(27, 2, 66); text-align: center;margin-top:5%;margin-bottom:7%">Login</h1>

        <label for="username" style="font-size:20px">Username</label><br>
        <input style="width: 95%;" type="text" id="username" name="username"><br><br>

        <label for="nid" style="font-size:20px">NID</label><br>
        <input style="width: 95%;" type="text" id="nid" name="nid"><br><br>



        <label for="password" style="font-size:20px">Password</label><br>
        <input style="width: 95%;" type="password" id="password" name="password"><br><br>
           <button style="margin-left: 35%; font-size:20px" type="submit">Submit</button><br><br>
           <a style="display:block;margin-left: 25%; font-size:20px" href="{% url 'mlogin' %}">Do you represent a ministry?</a>


        </form>
        </div>
      </div>
    </div>

    </body>
</html>

{%endblock%}