{%extends 'base.html' %}

{%block content%}
{%load static%}

<h2 style="text-align: center;"><b>About us</b></h2>
<h3>This is a website which functions as a platform for the general mass to post complaints about the problems/issues
    they have to face everyday as citizens to the respective ministries/departments/institutes of the government. </h3>
<h3>Here, any government ministry, department and institute can signup as 'Doers' and can have the opportunity to
   connect with the mass. They can see/review all the complaints posted under their organization's name. The complaints will be displayed after being sorted both time-wise and area-wise.
And afterwards they can also approve the complaints which have already been solved.</h3>
<h3>Here, any active citizen can signup as a user and can post their complaints about every single problem they face everyday in their locality
    or while availing any service from the government or when they think they are deprived of their rights as citizens to any ministry they like. </h3>
<br>
<br>
{% endblock %}